@model DepartmentDTO
@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.Name</h1>
<h1>Employees(@Model.Employees.Where(m=>!m.IsDeleted).Count())
    - 
    <a asp-controller="employee" asp-action="departmentEmployees" asp-route-departmentId="@Model.Id">More Info</a></h1>

